<h1 class="font-bold mt-2 mb-2 text-center text-lg">{{title | titlecase}}</h1>

<input type="text" class="mb-2 border py-2 px-4 w-full outline-0" placeholder="Search product..."
       [(ngModel)]="searchTerm">


<!--  <app-product [product]="products[0]"></app-product>-->
<!--  <app-product [product]="products[1]"></app-product>-->

<p *ngIf="loading" class="text-center text-lg">Loading...</p>

<div *ngIf="productsService.products">

  <!--  <app-product *ngFor="let product of products; let i = index" [product]="product"></app-product>-->

  <app-product *ngFor="let product of productsService.products|filterProducts: searchTerm; let i = index"
               [product]="product">
  </app-product>
</div>


<app-modal *ngIf="modalService.isVisible$|async" title="Create new product">
  <app-create-product></app-create-product>
</app-modal>

<button
  class="rounded-full bg-red-700 text-white fixed right-5 bottom-5 py-2 px-4"
  (click)="modalService.open()"
>+
</button>
